@import "tailwindcss";

@layer components{
  .btn{
    @apply   px-4 py-2 rounded-sm text-[12px] font-bold inline-flex justify-center items-center tracking-tight ;
  
  }
  .btn-primary{
   @apply  bg-black text-white h-[35px] cursor-pointer hover:bg-black/60 duration-[0.5s];
  }
  .section-title{
  @apply font-bold text-indigo-900 text-4xl mt-4 tracking-tight
}

.text-description{
  @apply text-zinc-900 text-[18px] leading-[30px] mt-8 text-center
}
.btn-motion{
  @apply text-lg text-white cursor-pointer duration-[0.5s] hover:text-sky-700 hover:scale-[105%]  text-black rounded-full
}
}


.uderlineEmotion {
  position: relative; 
  display: inline-block; 
  transition:  0.2s ease-in;
}

.uderlineEmotion:hover{
  color: rgb(5, 5, 5);
}
.uderlineEmotion::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  transform-origin: center; 
  transition: width 0.7s ease; 
  opacity: 0;
}

.uderlineEmotion:hover::after {
  opacity: 1;
  width: 100%;
}

